	<div class="container-fluid">
		<div class="row">
	        <div class="col-sm-10 col-md-10 col-lg-6">
	                      
			<footer>	   
			    <div class="footer">
			        ©2019 nate chiles
			    </div>
			</footer>

			</div>
		</div>

			
		</div>			
    </body>
</html>