<!DOCTYPE html>
<html>
    <head>
        <title>even</title>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name='viewport' content='viewport-fit=cover, width=device-width, initial-scale=1.0'>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="apple-touch-startup-image" href="/assets/images/LaunchImagePortrait">
    </head>
    <body ontouchstart>

    <div class="container-fluid">
        <div class="no-status-bar"></div>
        <div class="row">
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered heading">sign up</div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered main-content">
                
    			 <form action="/register" method="POST">

                    <div class="form-group">
                        <input class="form-control data-input"  type="text" name="username" placeholder="team username">
                    </div>

                    <div class="form-group">
                        <input class="form-control data-input"  type="text" name="userA" placeholder="your name">
                    </div>

                    <div class="form-group">
                        <input class="form-control data-input"  type="text" name="userB" placeholder="friend's name">
                    </div>

                    <div class="form-group">
                        <input class="form-control data-input" type="password" name="password" placeholder="password">
                    </div>
                   
                    <div class="form-group">
                        <button class="btn btn-block primary-button">sign up</button>
                    </div>
                </form>
                <a class="form-control btn btn-block secondary-button" href="/login" role="button">i have an account</a>
    		</div>
    	</div>
    </div>


    <div class="container-fluid">
        <footer class="row">
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-centered footer">©2019 nate chiles</div>
        </footer>
    </div>         
    </body>
</html>