body {
	/* background-color: #221d28; */
	background-color: #211d33 !important;
	color: #b8d7ff;
    text-transform: lowercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.status-bar {
    position: fixed;
    top: 0;
    left: 0;
	font-size: 2rem;
	font-weight: 600;
	color: #fbffbe;
	letter-spacing: 0rem;
	text-align: center;
	padding: 1.25rem 0 1.25rem 0;
	margin-bottom: 1rem;
    width: 100%;
    background:#2b273f;
    z-index: 998;
}

.status-bar-user {
    color: #b8d7ff;
    font-weight: 600;
    font-size: 2rem;
}

/* BUTTONS */
.primary-button {
    background-color: #9eead2;
    color: #110b1e;
    text-align: left;
}

.primary-button:hover {
    background-color: #74c4ab;
    color: #110b1e;
    text-align: left;
}

.primary-button:active {
    background-color: #6bb39c;
    color: #110b1e;
    text-align: left;
}

.btn-primary {
    background-color: #9eead2;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.btn-primary:hover {
    background-color: #74c4ab;
    color: #000000;
    border: 1px solid black;
}

.btn-primary:active {
    background-color: #6bb39c;
    color: #000000;
    border: 1px solid black;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #6bb39c;
    color: #000000;
    border: 1px solid black;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    background: #9eead2;
    color: black;
}

.secondary-button {
    background-color: transparent;
    border-color: #9eead2;
    color: #9eead2;
}

.secondary-button:hover {
    background-color: transparent;
    border-color: #6bb39c;
    color: #6bb39c;;
}

.secondary-button:active {
    background-color: transparent;
    border-color: #b8d8c3;
    color: #b8d8c3;
}

.data-input {
    background-color: #ffffff !important;
    cursor: pointer;
    border: 0px solid #889fd7;
    color: #000000;
}

.data-input:hover {
    background-color: #e9e9e9 !important;
    cursor: pointer;
    border: 0px solid #889fd7;
    color: #000000;
}

.data-input:active {
    background-color: #fafafa !important;
    cursor: pointer;
    border: 0px solid #889fd7;
    color: #000000;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.btn {
    font-weight: 400;
    text-align: left;
    padding: .75rem 1.5rem;
    border-radius: .4rem;
    font-size: 1rem;
    letter-spacing: 0rem;
}

.presubmit1, .presubmit2 {
    margin-bottom: .45rem;
}

.user-buttons {
    width: 100%;
}

.userA-radio {
    border-radius: .4rem 0 0 .4rem !important;
    border: solid 1px #000000;
    width: calc(100% / 2);
    white-space: nowrap;      /*keep text on one line */
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;
}

.userB-radio {
    border-radius: 0 .4rem .4rem 0;
    border: solid 1px #000000;
    width: calc(100% / 2);
    white-space: nowrap;      /*keep text on one line */
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;
}

#btnControlA:checked + label {
    background: #5ebb9e;
}

#btnControlB:checked + label {
    background: #5ebb9e;
}
/* END BUTTONS */

@media only screen and (max-width: 600px) {
    div.status-bar, .status-bar-user {
        font-size: 1.5rem;
    }
}

.heading {
	font-weight: 200;
	font-size: 1.75rem;
    margin-top: 7rem !important;
    padding-bottom: 1em;
    max-width: 90%;
}

.heading-right {
    float: right;
}

.add-expense-link {
    font-weight: 200;
    color: rgba(184, 215, 255, 0.27);
    font-size: 1.5rem;
    max-width: 90%;
    /* border-bottom: 1px solid; */
}

.get-even-heading {
    float: right;
    font-weight: 200;
    color: rgba(184, 215, 255, 0.27);
    font-size: 1.5rem;
    max-width: 90%;
    /* border-bottom: 1px solid; */
} 

.heading2 { /*positions columns in the same place when they are side by side*/
	font-weight: 200;
	font-size: 2rem;
	letter-spacing: 0rem;
	margin: 10rem 0 1.45rem 0;
	opacity: 0; 
}

/* Style the tab */
.tab {
    background-color: #9eead2;
}
  
  /* Style the buttons inside the tab */
  .tab button {
    float: left;
    margin-bottom: .41rem;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #74c4ab;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #6bb39c;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

#full {
    display: block;
}

.payment-section {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #fbffbe;
    padding: 6rem 0px 1rem 0px;
}

@media only screen and (max-width: 766px) {
  div.heading2 {
    display: none;
  }
}

/* MAKES 2 COLUMNS ON IPHONE LANDSCAPE */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
    .table-col {
        max-width: 50%;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    .table-col {
        max-width: 50%;
    }
}

label {
	margin-bottom: 0;
}

a:hover {
    color: #fff;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.main-content {
    max-width: 90%;
    z-index: 1;
}

.spacer {
    height: 1rem;
}

.form-group {
    margin-bottom: .5rem;
}

.form-control {
	font-weight: 400;
	text-align: left;
	padding: .75rem 1.5rem;
	border-radius: .4rem;
	font-size: 1rem;
	letter-spacing: 0rem;
}

.form-control:disabled {
    background-color: #6ab39c78;
    color: #211c33;
}

/* .form-control:disabled:hover {
    background-color: #ffffff;
    color: #211c33;
} */

/* .navigation {
	margin-top: 2rem;
} */

.table-user {
	font-size: 1.25rem;
	padding: .2rem 0 .3rem 1rem;
	font-weight: 200;
	background-color: #2b273f;
	border-radius: .5rem;
    letter-spacing: 0rem;
    color: #fff;
    width: 100%;
    margin-top: 1rem;
}

.table-user-clicked {
    background-color: #26223a;
}

.total-spent {
	font-size: 1.25rem;
	padding-right: .8rem;
	font-weight: 200;
	border-radius: .5rem;
	letter-spacing: 0rem;
	float: right;
}

.line-item {
    font-size: .85rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.623);
    padding: .5rem;
}

.item-users {
    display: none;
}

.item-id {
    display: none;
}

.item-date {
    max-width: 10%;
    text-align: left;
}

.item-expense {
    text-align: center;
}

.item-cost {
    max-width: 10%;
    text-align: right;
}

.item-delete {
    max-width: 20%;
    text-align: right;
    cursor: pointer;
}

.footer {
	font-weight: 100;
	font-size: 0.5rem;
    margin-top: 18rem !important;
    margin-bottom: 4rem !important;
    max-width: 90%;
}

/*CALENDAR*/
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
}

/* .ui-widget-content {
	border: 1px solid #ffffff;
	background: #ffffff;
	color: #2c333a !important;
	font-weight: 200 !important;
}

.ui-widget-header {
    border: 1px solid #caa8a8;
    background: #fff !important;
    color: #2c333a !important;
    font-weight: 200 !important;
} */

.ui-corner-all{
    border-radius: 5px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #b9b9b9;
    background: #ffffff !important;
    font-weight: normal;
    color: #3e3e50;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #000 !important;
    background: #fffa90;
    color: #000 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: #fff;
    font-weight: 100;
    color: #757575;
}

/* HIDE NUMBER INDICATOR */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/*APPLE PAY BUTTON*/
/* @supports (-webkit-appearance: -apple-pay-button) { 
    .apple-pay-button {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
    }
    .apple-pay-button-black {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white {
        -apple-pay-button-style: white;
        max-width: 8rem;
        margin-top: 1rem;
    }

    .coming-soon {
        color: white;
        font-weight: 100;
        font-size: .25rem;
    }
    
    .apple-pay-button-white-with-line {
        -apple-pay-button-style: white-outline;
    }
}
@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 200px;
        min-height: 32px;
        max-height: 64px;
    }
    .apple-pay-button-black {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }
    .apple-pay-button-white {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .apple-pay-button-white-with-line {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
        border: .5px solid black;
    } 
} */

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.bg-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.show-overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.show-bg-overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.status-bar-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 1.5em;
    font-weight: 700;
    color: #fbffbe;
    letter-spacing: 0rem;
    text-align: center;
    width: 100%;
    z-index: 999;
}

/* Content styles */
.modal-content {
    text-align: left;
	background: #211d33;
    position: relative;
    top: 35px;
	border-radius: .25rem;
    margin: 0 auto;
    height: 100%;
    width: 90%
}

.modal-header {
	margin: 0;
	text-align: center;
	font-size: 1.75em;
	font-weight: 200;
    border: none;
    color: #b8d7ff;
    letter-spacing: 0rem;
    padding: 0;
    margin-bottom: 1rem;
}

button {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.modal-body {
    text-transform: lowercase;
}

#modal-form {
    margin-bottom: 2rem;
}

.md-danger {
    color: #b92626;
}

.md-danger:hover {
    color: #991313;
}

 
.md-cancel {
    float: right;
    color: #889fd7;
    padding: 0;
}

.md-cancel:hover {
    color: #566eaa;
}

.more-dot {
    background-color: #fbffbe;
    margin: 0 auto;
    display: inline-block !important;
    width: 5px;
    height: 5px;
    margin-right: 1px;
    margin-bottom: 3px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-dot:hover {
    background-color: #e6edff;
}

a, .edit-modal:hover {
    text-decoration: none !important;
}

.edit-modal {
    padding: none !important;
}

.names {
    max-width: 20px !important;
}

/* CHECKBOX */
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 29px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 8px;
    left: 2px;
    height: 31px;
    width: 31px;
    border: 1px solid;
    background-color: #211c33;
    border-radius: 6px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #2b273f;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #ffffff12;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 10px;
    top: 2px;
    width: 9px;
    height: 21px;
    border: solid #fbffbe;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* jquery modal in payment page */
  .ui-widget-overlay {
        background: rgba(0,0,0,0.8) !important;
        opacity: unset !important;
  }

  .ui-dialog-titlebar {
      background-color: none !important;
  }

  .partial-payment {
      display: none;
  }